{% extends "layout.html.twig" %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">

            <!--  Random beer  -->

            <div class="row" style="border: 1px solid gray; padding:5px;">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-6 col-md-1" style="margin-right:15px;">
                            <img class="thumbnail" style="width:64px; height:64px;" width="64" height="64" src=" {{beer_img}} ">
                        </div>

                        <div class="col-12 col-sm-6 col-md-10">
                            <h5> {{beer_name}} </h5>
                            <p style=" font-size: 14px;"> {{ beer_description|replace({"\n": "<br>"})|raw }}  </p>

                            <button type="button" class="btn btn-primary btn-sm" onclick="location.reload();">Another Beer</button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="updateDataSearch(1, '{{brewery_id}}' )">More From This Brewery</button>

                         </div>

                    </div>
                    </div>
                </div>
            <br>

            <!--  Search form  -->

            <h5 class="display-6">BreweryDB Search</h5>

            <div class="row">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-6 col-md-5" style="margin-right:15px;">
                            <input class="form-control mr-sm-2 col-xs-4" type="text" placeholder="Search" id="search" name="search_text" aria-label="Search">
                        </div>

                        <div class="col-6 col-md-1" >
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  onclick="updateDataSearch()">Search</button>
                            <input type="hidden" id="token" name="_csrf_token" value="{{csrf_token}}">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Check bottons -->

            <div class="form-check" style="padding-top:15px;">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="SearchType" id="Beer" value="option1" checked>
                    Beer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input" type="radio" name="SearchType" id="Brewery" value="option2">
                    Brewery
                </label>
            </div>

            <hr>

        </div>
    </div>

    <div class="container" id="listing" >

        <!-- Example row of columns -->

        <div class="row">
            <div class="col-md-12">
                <p>Search for beer's name or brewery</p>
            </div>
        </div>


        <footer>
            <!--  <p>&copy; Brewwery Search 2017</p> -->
        </footer>
    </div> <!-- /container -->


{% endblock %}
